@font-face {
    font-family: "Berlin Sans FB";
    src: url("/Fonts/BerlinSansFBRegular.ttf");
}

@font-face {
    font-family: "Berlin Sans FB";
    src: url("/Fonts/BerlinSansFBBold.ttf");
}

.textStartTitle {
    -fx-font-size: 72px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}

.textWindowTitle {
    -fx-font-size: 42px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}

.textCommentLabel {
    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
}

.invisibleButtonBig {
    -fx-background-color: none;
    -fx-border-color: none;
    /*-fx-text-fill: none;*/

    -fx-font-size: 36px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}
.invisibleButtonBig:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.invisibleButtonSmall {
    -fx-background-color: none;
    -fx-border-color: none;
    /*-fx-text-fill: none;*/

    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}

.invisibleButtonSmall:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.listButton {
    -fx-background-color: none;
    -fx-border-color: none;
    /*-fx-text-fill: none;*/

    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
}

.listButton:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.wordLabel {
    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
}

.instructionLabel {
    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
}

.letterButton {
    -fx-font-size: 15px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
    -fx-border-color: none;
    -fx-background-color: radial-gradient(center 50% 50%, radius 30%, white, transparent);
    -fx-border-radius: 25%;
}

.letterButton:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.triesLabel {
    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
}

.StartGridPane{
    -fx-background-image: url("/images/background-start.png");
    -fx-background-repeat: no-repeat;
}

.GameGridPane{
    -fx-background-image: url("/images/bakcground.gif");
    -fx-background-repeat: no-repeat;
}

.FighterGridPane{
    -fx-background-image: url("/images/fightersback.png");
    -fx-background-repeat: no-repeat;
}

.ListGridPane{
    -fx-background-image: url("/images/back2.png");
    -fx-background-repeat: no-repeat;
}