.button1:hover {
    -fx-background-color: blue;
}

.button2:hover {
    -fx-background-color: red;
}

.buttonTurtle {
    -fx-background-image: url("/images/turtle.png");
    -fx-height: 400px;
    -fx-width: 400px;
    }

.buttonFrog {
    -fx-background-image: url("/images/froggie.jpg");
    -fx-height: 400px;
    -fx-width: 400px;
    }

.wordLabel {
    -fx-font-size: 35px;
}

.letterButton {
}

.triesLabel {
    -fx-font-size: 15px;
}

.StartGridPane{
    -fx-background-image: url("/images/background-start.png");
    -fx-background-repeat: no-repeat;
}

.invisibleButton {
    -fx-background-color: none;
    -fx-border-color: none;
    /*-fx-text-fill: none;*/
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 36;
}
.invisibleButton:hover {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-cursor: hand;
}

.GameGridPane{
    -fx-background-image: url("/images/backgroundani.gif");
    -fx-background-repeat: no-repeat;
}

.FighterGridPane{
    -fx-background-image: url("/images/choosefighter.png");
    -fx-background-repeat: no-repeat;
}

.ListGridPane{
    -fx-background-image: url("/images/back2.png");
    -fx-background-repeat: no-repeat;
}

