.button1:hover {
    -fx-background-color: blue;
}

.button2:hover {
    -fx-background-color: red;
}

.textStartTitle {
   -fx-font-size: 72px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}

.textWindowTitle {
    -fx-font-size: 48px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}


.textCommentLabel {
    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}

.invisibleButtonBig {
    -fx-background-color: none;
    -fx-border-color: none;
    /*-fx-text-fill: none;*/

    -fx-font-size: 36px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}
.invisibleButtonBig:hover {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-cursor: hand;
}

.invisibleButtonSmall {
    -fx-background-color: none;
    -fx-border-color: none;
    /*-fx-text-fill: none;*/

    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
}

.invisibleButtonSmall:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.wordLabel {
    -fx-font-size: 35px;
    -fx-font-family: "Berlin Sans FB";
}

.letterButton {
    -fx-font-size: 15px;
    -fx-font-family: "Berlin Sans FB";
    -fx-font-weight: bold;
    -fx-background-color: none;
    -fx-border-color: none;
}

.letterButton:hover {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0;
    -fx-cursor: hand;
}

.triesLabel {
    -fx-font-size: 24px;
    -fx-font-family: "Berlin Sans FB";
}

.StartGridPane{
    -fx-background-image: url("/images/background-start.png");
    -fx-background-repeat: no-repeat;
}

.GameGridPane{
    -fx-background-image: url("/images/backgroundani.gif");
    -fx-background-repeat: no-repeat;
}

.FighterGridPane{
    -fx-background-image: url("/images/fightersback.png");
    -fx-background-repeat: no-repeat;
}

.ListGridPane{
    -fx-background-image: url("/images/back2.png");
    -fx-background-repeat: no-repeat;
}

